<div class="row custom-row" *ngIf="epicImages.length > 0">


    <div class="col-lg-12 text-section">
        <h2> <span>EARTH</span> PHOTOS</h2>
    </div>

    <hr class="divider">





    <div class="photos">
        <div *ngFor="let image of epicImages" class="photo-container">
            <img [src]="image.url" [ngStyle]="{'width.px':200, 'height.px':200}" alt="Epic Image"
                (click)="openDialog(image.url)">
        </div>
    </div>



</div>






<div class="row custom-row" *ngIf="marsRoverPhotos.length > 0">


    <div class="col-lg-12 text-section">
        <h2> <span>MARS</span> ROVER PHOTOS</h2>
    </div>

    <hr class="divider">

    <div class="photos">
        <div *ngFor="let photo of marsRoverPhotos" class="photo-container">
            <img [src]="photo.img_src" [ngStyle]="{'width.px':200, 'height.px':200}" alt="Mars Rover Photo"
                (click)="openDialog(photo.img_src)">
        </div>
    </div>

</div>