// .img-cont {
//   display: flex;
//   justify-content: center;
//   margin-top: 2rem;
//   img {
//     width: 96px;
//   }

//   @media screen and (max-width: 674px) {
//     margin-top: -3rem;
//   }
// }

// .title-section {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   margin-top: 4rem;

//   @media screen and (max-width: 674px) {
//     margin-top: 1rem;

//     h2 {
//       text-align: center;
//       padding-left: 1rem;
//       padding-right: 1rem;
//     }
//   }
// }

.page-container .sub-title p {
  text-align: center;
  margin-bottom: 12px;
  line-height: 2rem;
}

.divider {
  margin-top: 3rem;
}

.container {
  padding: 0 3rem 2rem 3rem;
  margin: 1rem 0;
  background-color: rgba(0, 0, 0, 0.4509803922);
  border-radius: 10px;
}

.form-group {
  margin: 2rem 0;

  input,
  textarea {
    background: none;
    border: 2px solid #03c988;
    color: #fff;
    font-size: 18px;
  }

  input {
    min-height: 52px;

    @media screen and (max-width: 992px) {
      margin-top: 2rem;
    }
  }

  input::placeholder,
  textarea::placeholder {
    color: #979797;
  }

  textarea {
    min-height: 145px;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  padding-bottom: 2rem;
  img {
    max-width: 3rem;
    margin: 0.5rem 1rem;

    &:hover {
      cursor: pointer;
      transform: translateY(-4px);
      transition: transform 0.2s ease-in-out;
    }
  }
}
