<div class="row custom-row ">


    <div class="col-lg-12 text-section">
        <h2><span>COUNTRIES</span> REPOSITORY</h2>
    </div>

    <hr class="divider">


    <div class="row flex-middle no-gutters">
        <input type="text" [(ngModel)]="searchQuery" (input)="searchCountry()" placeholder="Search for a country">


        <div *ngIf="countryData">

            <div class="countries-row">
                <div *ngFor="let country of countryData">

                    <div class="country-card">

                        <div class="flex-fill">
                            <h2>{{ country.name.common }}</h2>
                            <img [src]="country.flags[0]" />
                        </div>


                        <p> <mat-icon>south_america</mat-icon>

                            Region: <span>{{country.region}}</span></p>
                        <p> <mat-icon>location_city</mat-icon> Capital: <span>{{ country.capital }}</span></p>
                        <p> <mat-icon>group</mat-icon> Population: <span>{{ country.population | numberFormat }}</span>
                        </p>

                    </div>

                </div>
            </div>

        </div>
    </div>



</div>