@import "../../styles.scss";
// Header
////////////////////////////////////////////

.header {
  background-color: #0000;
  padding: 1rem 14rem;
  width: 100vw;
  position: fixed;
  height: 84px;
  z-index: 99;

  img {
    max-width: 1in;
  }

  @media screen and (max-width: 1600px) {
    padding: 1rem 4rem;
  }

  @media screen and (max-width: 674px) {
    padding: 1rem 0;
  }
}

.sticky {
  height: 58px;
  padding-top: 0;
  padding-bottom: 0;
  backdrop-filter: blur(12px);
  background: #6a6a6a3b;

  img {
    max-width: 0.7in;
  }
}
// Menu
////////////////////////////////////////////
///
.mat-toolbar-row {
  justify-content: space-between !important;

  a {
    text-decoration: none;
  }
  .main-menu > ul {
    li {
      display: inherit;
    }
    display: flex;
    align-items: center;
    margin-bottom: 0;
  }

  .project-button {
    border: 2px solid $accent-color;
    padding: 0.2rem 1rem;
    border-radius: 8px;
    transition: 0.5s;

    &:hover {
      cursor: pointer;
      border-color: $accent-color-light;
      transform: translateY(-2px);
      transition: 0.5s;
    }

    img {
      margin: 0 4px;
    }
  }
}

.top-navigation-button {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: $accent-color;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  mat-icon {
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }

  span {
    color: #fff;

    font-size: 20px;
  }
}

.is-active {
  &::after {
    transform: scaleX(1) !important;
    background-color: #fff !important;
  }
}

mat-sidenav {
  background-color: #1b1926;
  width: 100%;
  overflow: hidden;
  top: 84px;
  position: fixed;
  box-shadow: none !important;
}

.top58 {
  top: 58px;
}

// Content
////////////////////////////////////////////
mat-sidenav-content {
  width: 100vw;
  height: 100vh;
  background-image: url("../../assets/img/bg.png");
  position: fixed;
  overflow-y: auto;
  overflow-x: hidden;

  // @media screen and (max-width: 674px) {
  //   min-height: calc(100% - 48px) !important;
  //   height: calc(100% - 48px) !important;
  // }

  .outlet {
    min-height: calc(100vh - 22px);
    padding-top: 84px;
  }

  .footer {
    bottom: 0;
    background: #13005a;
    width: 100vw;
    height: 22px;

    p {
      margin: 0;
      color: #fff;
      padding: 0px 16px;
      height: 22px;
      font-size: 12px;
    }
  }
}

.mobile-header {
  background: black;
  display: flex;
  height: 48px;
  justify-content: space-between;

  .logo {
    display: flex;
    align-items: center;
    margin-left: 2rem;

    img {
      width: 3rem;
    }
  }

  .contact-wrapper {
    display: flex;
  }
}

.menu-item {
  margin-right: 1.5rem;
  display: flex;
  align-items: center;
  position: relative;
  color: #fff;

  font-size: 20px;

  cursor: pointer;

  mat-icon {
    color: #fff;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin-right: 8px;
  }
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  padding: 16px;
  display: none;
}

.dropdown-item {
  padding: 5px;
}

.menu-item:hover .dropdown {
  display: block;
}

::ng-deep.mdc-list-item__primary-text {
  color: rgb(255 255 255 / 87%) !important;
}

///////////////////////////// Mobile Menu Expansion Panel

.mat-expansion-panel:not([class*="mat-elevation-z"]) {
  box-shadow: none;
}

.mat-expansion-panel-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 16px;
  border-radius: inherit;
  transition: height 225ms cubic-bezier(0.4, 0, 0.2, 1);
  background: none;
  background-color: #1b1925;
  border: none;
  border-radius: 0;
  color: #fff;
}

.mat-expansion-panel {
  box-sizing: content-box;
  display: block;
  margin: 0;
  border-radius: 0;
  overflow: hidden;
  transition: margin 225ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.mat-expansion-panel {
  background: #1b1925;
  color: rgba(0, 0, 0, 0.87);
}

.mat-expansion-panel-header-title {
  color: rgb(255 255 255 / 87%);
  font-size: 14px;
  border-bottom: 1px solid;
  padding-bottom: 2px;
  mat-icon {
    height: 16px;
    width: 16px;
    font-size: 16px;
    margin-right: 12px;
  }
}

::ng-deep .mat-expansion-indicator::after {
  color: rgb(255 255 255 / 54%) !important;
}

.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
  .mat-expansion-panel-header:hover {
  background: #1b1925;
}
