.timeline-item {
  background: rgb(25 33 62);
  padding: 20px;
  border-radius: 8px;
  margin: 2rem 0;
  color: #fff;

  h3 {
    margin: 0;
    line-height: 38px;
  }

  h4 {
    margin: 0;
    font-size: 1.1rem;
  }

  p {
    margin: 10px 0;
    color: #939393;
  }
}
